:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/* Card */
.card {
  border: 2px solid black;
  margin: 1em;
  padding: 0.5em;
}

.form-modal {
  padding: 2em;
  margin: 2em;
  background-color: gainsboro;
}

form {
  display: flex;
  gap: 1em;
  flex-direction: column;

  & input {
   padding: 1em;
  }

}